.other-information-information{
    margin: 35px;
}

.other-information-information > h1{
    text-align: center;
}

.other-information-information > h3{
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.list-card-information{
    display: flex;
    justify-content: space-between;
}