.list-card{
    display: flex;
    justify-content: space-between;
}

.courses-element{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.container-btn-more-courses{
    display: flex;
    justify-content: center;
}