.card-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    padding: 10px;
    margin: 15px;
    color: #004A80;
}

.card-information > img{
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: 5px;
    background-color: #efefef;
    border-radius: 50px;
}

.card-information > h3{
    font-size: 25px;
    margin: auto;
}

.card-information > p{
    text-align: center;
}