nav{
    display: flex;
    justify-content: space-between;
}

nav > .span {
    color: #ffffff;
    font-weight: 700;
    padding: 35px;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    color: #ffffff;
    padding: 35px;
    list-style-type: none;
    font-family: 'Arial';
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    margin: auto;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

nav > ul > li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* Couleur du soulignement */
    transition: all 0.3s ease;
}

nav > ul > li:nth-child(-n+3):hover::after{
    width: 100%;
}

.btnLogin{
    cursor: pointer;
    border-color: #ffffff;
    background-color: #1C8FF0;
    color: #ffffff;
    font-size: 17px;
    border-style: solid;
    width: 100px;
    border-radius: 20px;
    height: 35px;
}