.landing-section{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
}

h1{
    color: #fff;
    font-size: 40px;
}

span{
    color: #cccccc;
}

.landing-section > .landing-description > p{
    color: #fff;
    font-size: 17px;
    text-align: justify;
}

.btn_submit_principal{
    background-color: #004A80;
    color: #fff;
    border-color: #CCCCCC;
    border-style: solid;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

/* Styles pour l'animation d'écriture */
#typing-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto; 
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  